h1{
    background-color: rgb(241, 216, 220);
    color: purple;
    text-align: center;
}
p{
    font-size: x-large;
}
li{
    display: list-item;
    color:brown;
    font-size: larger;
}
